.about-container p {
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

.img-box{
  height: 100%;
  width: 100%
}

.about-container {
  display: flex;
  max-height: 100%;
  gap: 3rem
}

.skills-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.me-img {
  border-radius: 10px;
  width: inherit;
  height: inherit;
  object-fit: contain;
}

@media only screen and (max-width: 1013px) {

  .me-img {
    width: 324px;
    height: 424px;
  }

  .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 805px) {
  .about-container {
    flex-direction: column;
  }


  .img-box{
    display: flex;
    justify-content: center;
  }
}

