.about-container p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.img-box{
  height: 100%;
  width: 100%
}


@media only screen and (max-width: 1013px) {

  .me-img {
    width: 324px;
    height: 424px;
  }

  .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 805px) {
  .about-container {
    flex-direction: column;
  }

  .img-box{
    display: flex;
    justify-content: center;
  }
}

