.about-container p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: bolder;
}

.about-desc-container {
  padding-right: 112px;
}

.skills-list{
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.skills-list li{
  display: flex;
  gap: 6px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

.skills-list li img{
  width: 18px;
}


@media only screen and (max-width: 900px) {
  .about-desc-container {
    padding-right: 0;
  }
}