form {
  text-align: left;
  width: 100%;
  margin: 40px 0 0;
  
}

.input-box {
  font-family: inherit;
  border: 2px solid;
  border-radius: 4px;
  border-color: rgb(179, 177, 177);
  box-sizing: border-box;
  padding: 0.5rem;
}

.small-input{
  height: 36px;
  width: 100%;
}

textarea {
  height: 120px;
}

.name-email-container {
  display: flex;
  gap: 20px;
}

.name-email-container div {
  width: 100%;
}

.input-group{
  margin-top: 20px;
}


textarea{
  width: 100%;
  height: 128px;
}

label {
  margin-bottom: 7px;
  display: inline-block;
}

.submit-btn{
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  width: 7.5rem;
  height: 3rem;
  margin-top: 14px;
  border-radius: 50px;
  border: 1px solid;
}

@media only screen and (max-width: 760px) {
  .name-email-container{
    display: flex;
    flex-direction: column;
  }
}