@import url("//fonts.cdnfonts.com/css/recoleta");
@import url("//fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book");
@import url('//fonts.cdnfonts.com/css/inter');
@import url("//fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

@font-face {
  font-family: "Matter";
  src: url("../fonts/Matter-Regular.otf") format("opentype");
}

:root{
  --accentFont: "Recoleta";
  --accentFontv2: "Lora";
  --mainFont: "ITC Avant Garde Gothic Std Book";
  --mainFontv2: "Inter";
  --mainFontv3: "Matter";
  --mainFontv4: "Raleway"
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #252525;
  color: #fff; */
  font-family: var(--mainFont);
  text-align: center;
}

main {
  /* background-color: beige; */
  width: 46rem;
  margin: 0 auto;
}

.accented-text {
  font-family: var(--mainFont);
}

/* .title-section {
  font-size: 36px;
} */

.section-root {
  margin: calc(8rem + 20vh) 0;
}

.title-section {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  /* color: #ced0d1; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
  padding: 0;
}

.tech-list{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}


.bold-text {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  border-radius: 20px;
}


/* background-color: #292836
   accentcolor: #a5a1ff*/

/* RESPONSIVE */

@media only screen and (max-width: 760px) {
  main {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
  }
}