
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf")
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  background-size: 100%  100%;
  background-position: center;
  backdrop-filter: blur(150px);
  background-image: radial-gradient(70% 5% at  60% 0%,#352157fa, transparent 100%),
    radial-gradient(500px 250px  at 80% 7%,#4c1e55fa, transparent 100%),
    radial-gradient(600px 900px at 36% 42%,#453363fa, transparent 100%),
    radial-gradient(900px 700px at 70% 59%, #401449fa, transparent 100%),
    radial-gradient(100% 8% at 0% 100%,#3b265efa, transparent 100%),
    radial-gradient(500px 250px  at 0% 92%,#461e4dfa, transparent 100%);
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  text-align: left;  
  font-weight: bolder;
  overflow-x: hidden;
} 

.App{
  position: relative;
}

main {
  box-sizing: border-box;
  width: 832px;
  margin: 0 auto;
}

.highlight-text {
  color: #ca6addfa;
}

.section-root {
  padding: 180px 0;
}

.large-text {
  font-size: 38px;
}

.sub-text{
  font-size: 26px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
  padding: 0;
}

.footer-section {
  padding: 20px 0
}

.footer-text{
  font-size: 14px;
  font-weight: 400;
}

.socials-svg-container svg path{
  height: 56px;
}

.socials-svg-container img{
  height: 56px;
}

.socials-svg-container{
  padding-top: 44px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
}

::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  border-radius: 20px;
}



/* RESPONSIVE */

@media only screen and (max-width: 900px) {
  main {
    box-sizing: border-box;
    width: 464px;
  }
}

/* Mobile size*/
@media only screen and (max-width: 500px) {
  .section-root {
    padding: 112px 0;
  }
  
  main {
    width: 100%;
    padding: 0 18px;
  }
}

@media only screen and (max-width: 385px) {
 
  .large-text{
    font-size: 31px;
  }

  .sub-text{
    font-size: 22px;
  }
}


@media (prefers-color-scheme: dark) {
  body{
    background-color: #0a0a0a;
    background-size: 100%  100%;
    background-position: center;
    backdrop-filter: blur(150px);
    background-image: radial-gradient(70% 5% at  60% 0%,#352157fa, transparent 100%),
        radial-gradient(500px 250px  at 80% 7%,#4c1e55fa, transparent 100%),
        radial-gradient(600px 900px at 36% 42%,#453363fa, transparent 100%),
        radial-gradient(900px 700px at 70% 59%, #401449fa, transparent 100%),
        radial-gradient(100% 8% at 0% 100%,#3b265efa, transparent 100%),
        radial-gradient(500px 250px  at 0% 92%,#461e4dfa, transparent 100%);
    color: #e9e9e9;
  }

  .highlight-text {
    color: #cb72ddfa;
  }
  
}
