@import url("//fonts.cdnfonts.com/css/recoleta");
@import url("//fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book");
@import url('//fonts.cdnfonts.com/css/inter');
@import url("//fonts.googleapis.com/css2?family=Lora&display=swap");

:root{
  --accentFont: "Recoleta";
  --accentFontv2: "Lora";
  --mainFont: "ITC Avant Garde Gothic Std Book";
  --mainFontv2: "Inter";
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #252525;
  color: #fff; */
  font-family: var(--mainFont);
  text-align: center;
}

main {
  width: 56rem;
  margin: 0 auto;
}

.accented-text {
  font-family: var(--accentFont);
}

/* .title-section {
  font-size: 36px;
} */

.section-root {
  margin: calc(4vh * 2.6) 0;
}

.title-section {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  line-height: 34px;
  /* color: #ced0d1; */
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  border-radius: 20px;
}


/* background-color: #292836
   accentcolor: #a5a1ff*/