.hero-section{
  margin: calc(10vh * 2) 0;
}

.name {
  font-size: calc(5.5rem + .3vw);
  margin: 6px 0 ;
}

.tagline {
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 600;
}

.job-title{
  font-weight: bolder;
}

.intro {
  font-weight: 18px;
  margin-top: 25px;
}