.project-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-top: 38px;
}

.project-item {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px;
  background-color: bisque;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 18px;
}

.project-info {
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.project-info footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-item p {
  font-size: 14.75px;
}

.project-links-container a img {
  width: 28px;
}

.project-title{
  margin-bottom: 2px;
}

.project-img{
  width: 64px;
}

.project-desc {
  line-height: 1.6;
}

.tech-list.project{
  font-size: 13px;
}

@media only screen and (max-width: 1000px) {
  /* .project-item{
    flex-direction: column;
  } */

  /* .project-img-container {
    width: 80%;

  } */
}

@media only screen and (max-width: 640px) {
  .project-item{
    flex-direction: column;
  }
  .project-icon {
    align-self: flex-start;
  }

  .project-info footer {
    flex-direction: column;
    gap: 14px;
  }
  
  .tech-list.project {
    align-self: start;
  }

  .project-links-container {
    align-self: end;
  }
  
}