.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 38px;
}

.project-item {
  box-sizing: border-box;
  border: 1px solid #242323;
  background-color: #1d1c1c;
  border-radius: 40px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-desc{
  font-size: 15px;
  font-weight: lighter;
}

.project-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.project-links-container a .svg-inline--fa  {
  height: 28px;
}

.project-title{
  font-size: 32px;
}

.project-img{
  width: 92px;
}

.project-info{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.project-desc {
  line-height: 1.6;
}

.tech-list.project{
  margin: 6px 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 12px
}


@media only screen and (max-width: 900px) {
  .project-container{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 385px) {
  .project-desc{
    font-size: 13px;
    font-weight: lighter;
  }
}


@media (prefers-color-scheme: dark) {
  .project-item {
    background-color: #1f1f1f;
  }
}

/* watcher: #fdcfda*/